<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
        body {background-color: beige;}
        h1   {color: blue;}
        p    {color: red;}
        table, th, td {
          border: 1px solid black;
        }
        table {
            border-spacing: 10px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td>Name</td>
        <td>Role</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Company</td>
        <td>Linkedin</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Satish Reddy</td>
        <td>Technical Recruiter</td>
        <td>sthumma@compunnel.com</td>
        <td>Ph : 609-606-2308, 540-384-3020</td>
        <td>Compunnel Software Group, Plainsboro, NJ</td>
        <td>LinkedIn</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Shirley</td>
        <td>Technical Recruiter</td>
        <td>shirleyj@compunnel.com</td>
        <td>6094236879</td>
        <td>Compunnel Software Group, Plainsboro, NJ</td>
        <td>https://www.linkedin.com/in/hepsiba-shirley-joseph-65120a23/</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Kavita Arora</td>
        <td>Technical Recruiter</td>
        <td>Kavita@compunnel.com</td>
        <td>6094236986</td>
        <td>Compunnel Software Group, Plainsboro, NJ</td>
        <td>LinkedIn</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Vinayak Rampalli</td>
        <td>Senior VP - Sales & Recruiting</td>
        <td>VRampalli@compunnel.com</td>
        <td>7322595857</td>
        <td>Compunnel Software Group, Plainsboro, NJ</td>
        <td>https://www.linkedin.com/in/vinayak-rampalli-4046ba1/</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Donald Pereira</td>
        <td>Account Manager</td>
        <td>dpereira@compunnel.com</td>
        <td>(609) 606-9010, Extn: 1419</td>
        <td>Compunnel Software Group, Plainsboro, NJ</td>
        <td>LinkedIn</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Shanold D'Almeida</td>
        <td>Manager - Sales</td>
        <td>sdalmeida@compunnel.com</td>
        <td>(609) 606-9010, Extn: 1414</td>
        <td>Compunnel Software Group, Plainsboro, NJ</td>
        <td>LinkedIn</td>
        <td>Notes</td>
    </tr>
    <tr><td>Ankit Gagneja</td>
        <td>Recruiter</td>
        <td>agagneja@compunnel.com</td>
        <td>(609) 606-9010, Extn: 1373</td>
        <td>Compunnel Software Group, Plainsboro, NJ</td>
        <td>LinkedIn</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Anita Pathak</td>
        <td>Account Manager</td>
        <td>anita@compunnel.com</td>
        <td>(609) 606-9010, Extn: 1335</td>
        <td>Compunnel Software Group, Plainsboro, NJ</td>
        <td>LinkedIn</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Kunwarjit Singh</td>
        <td>Recruiter</td>
        <td>ksingh@compunnel.com</td>
        <td>(609) 606-9010, Ext: 1788</td>
        <td>Compunnel Software Group, Plainsboro, NJ</td>
        <td>LinkedIn</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Ari Singh</td>
        <td>Senior Developer</td>
        <td>ASingh@pamperedchef.com</td>
        <td>630-792-7689</td>
        <td>The Pampered Chef, Addison, IL</td>
        <td>LinkedIn</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Chaitanya Cherukuri</td>
        <td>Senior Developer</td>
        <td>CCherukuri@pamperedchef.com</td>
        <td>3128105953</td>
        <td>The Pampered Chef, Addison, IL</td>
        <td>LinkedIn</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Kishore Rao</td>
        <td>Manager</td>
        <td>KRao@pamperedchef.com</td>
        <td>6308085876</td>
        <td>The Pampered Chef, Addison, IL</td>
        <td>https://www.linkedin.com/in/kishore-rao-98960032/</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>George Tegeler</td>
        <td>Manager</td>
        <td>George.Tegeler@bcbsa.com</td>
        <td>3128331598</td>
        <td>Blue Cross Blue Shield Association, Chicago, IL</td>
        <td>https://www.linkedin.com/in/georgetegeler/</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Sumit Varshney</td>
        <td>Software Engineer II</td>
        <td>Sumit.Varshney@bcbsa.com</td>
        <td>3122976676</td>
        <td>Blue Cross Blue Shield Association, Chicago, IL</td>
        <td>https://www.linkedin.com/in/sumit-varshney-b286a34/</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Jason Williams</td>
        <td>Manager</td>
        <td>Jason.Williams@capitalone.com</td>
        <td>2244060836</td>
        <td>Capital One, Rolling Meadows, IL</td>
        <td>https://www.linkedin.com/in/jason-williams-47a5685/</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Cory Corbett</td>
        <td>Manager</td>
        <td>Cory.Corbett@capitalone.com</td>
        <td>2243430651</td>
        <td>Capital One, Rolling Meadows, IL</td>
        <td>LinkedIn</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Smitha Menon</td>
        <td>Principal Associate</td>
        <td>Smitha.Menon@capitalone.com</td>
        <td>8132055234</td>
        <td>Capital One, Rolling Meadows, IL</td>
        <td>https://www.linkedin.com/in/smitha-menon-a99688102/</td>
        <td>Notes</td>
    </tr>
    <tr>
        <td>Deb Corey</td>
        <td>Manager</td>
        <td>debracorey@hotmail.com</td>
        <td>7634275235</td>
        <td>Ameriprise Financial, Minneapolis, MN</td>
        <td>https://www.linkedin.com/in/debra-corey-79375179/</td>
        <td>Notes</td>
    </tr>
</table>
</body>
</html>
