<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
        body {background-color: powderblue;}
        h1   {color: blue;}
        p    {color: red;}
        table, th, td {
          border: 1px solid black;
        }
        table {
            border-spacing: 10px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td>
        Name
        </td>
        <td>
            Role
        </td>
        <td>
            Email
        </td>
        <td>
            Phone
        </td>
        <td>
            Company
        </td>
        <td>
            Linkedin
        </td>
    </tr>
    <tr><td>
        Satish Reddy
    </td>
        <td>
            Technical Recruiter
        </td>
        <td>
            sthumma@compunnel.com
        </td>
        <td>
            Ph : 609-606-2308, 540-384-3020
        </td>
        <td>
            Compunnel Software Group, Plainsboro, NJ
        </td>
    </tr>
</table>
</body>
</html>
